@{
    ViewData["Title"]= "Catalogo de productos";
}


<h1><font color="#900C3F" size=9 face="verdana"><H1 align="center"><b>Catálogo de productos</b></H1></font></h1>

<div class="row">
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Rosas</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2018/08/plush-y-tulip.jpg" width="200" />
            <H1 align="center"></H1>S/. 50</H1>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Girasoles</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2016/08/centro-girasoles2.jpg" width="200" />
            <H1 align="center"></H1>S/. 30</H1>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Coronas</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2018/08/lila.jpg" width="200" />
            <H1 align="center"></H1>S/. 120</H1>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Tulipanes Primaveral</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2016/07/Tulipanes05.jpg" width="200" />
            <H1 align="center"></H1>S/. 60</H1>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Inaguración</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2017/10/abanico.jpg" width="200" />
            <H1 align="center"></H1>S/. 120</H1>
        </ul>
    </div>
     <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Cumpleaños</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2018/08/ana.jpg" width="200" />
            <H1 align="center"></H1>S/. 40</H1>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Bouquets</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2016/07/4-bouquet-04-1006x1024.jpg" width="200" />
            <H1 align="center"></H1>S/. 130</H1>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Nacimiento</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2016/07/ES-NENA.jpg" width="200" />
            <H1 align="center"></H1>S/. 40</H1>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Ramos</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2016/08/ramo-cono-gerberas2.jpg" width="200" />
            <H1 align="center"></H1>S/. 25</H1>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Arreglo con Vino</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2016/07/cesta-vino.jpg" width="200" />
            <H1 align="center"></H1>S/. 130</H1>
        </ul>
    </div>
    <div class="col-md-3">
        <h2><H1 align="center"><font color="#900C3F" size=4 face="verdana">Florero con Gerberas</H1></font></h2>
        <ul>
            <img src="https://www.marysfloreria.com/wp-content/uploads/2016/07/florero-primaveral-gerberas.jpg" width="200" />
            <H1 align="center"></H1>S/. 80</H1>
        </ul>
    </div>
</div>