@{
    ViewData["Title"] = "Home Page";
}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Inicio</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="https://dondiario.com/images/2019/01/20/1547989981.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Cifras de abandono y adopción</h1>
                <p>El abandono y las pérdidas de perros y gatos constituyen el principal obstáculo de bienestar de los animales de compañía en nuestro país. En 2014 fueron recogidos más de 140.000 (106.781 perros y 33.410 gatos), es decir que cada cinco minutos un perro o un gato era recogido por una entidad en España.</p>
                <p><a class="btn btn-lg btn-primary" href="https://www.fundacion-affinity.org/perros-gatos-y-personas/busco-una-mascota/la-adopcion-una-nueva-oportunidad-para-las-mascotas" role="button">Revisar más</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="https://cdn.atv.pe/files/77ff5315-0a60-4c75-b7c2-b19ab114781a.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Causas de abandono</h1>
                <p>Las 5 principales razones que se alegan para abandonar a un animal de compañía son los problemas económicos (16%), las camadas inesperadas (13%), el comportamiento del animal (12%), la pérdida de interés por el animal (9%) y el fin de la temporada de caza (9%).

Los factores económicos (16%) y las camadas no deseadas (13%) aparecen en este estudio, como en el del año anterior, entre los motivos de abandono más mencionados.</p>
                <p><a class="btn btn-lg btn-primary" href="https://www.fundacion-affinity.org/perros-gatos-y-personas/busco-una-mascota/la-adopcion-una-nueva-oportunidad-para-las-mascotas" role="button">Leer más</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="https://estaticos.miarevista.es/media/cache/760x570_thumb/uploads/images/article/57e4f4dbc9ef941705c7a434/int-perrofeliz.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://fotografias.lasexta.com/clipping/cmsimages01/2017/02/07/364CAAAC-A60E-43BB-8FED-05AA0B8F3AF9/58.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Son mascotas seguras</h2>
            <p>Todos las Mascotas están desparasitados, vacunados y esterilizados. Pasan pruebas psicológicas y clínicas, además de pruebas de sangre realizadas por SuizaVet. Nuestro proceso de adopción está certificado por la UCSUR.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver más detalles &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.ecured.cu/images/thumb/a/a4/Perros1.jpg/260px-Perros1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Son rescatados</h2>
            <p>Una mascota que ha sido rescatado del abandono o una mala crianza. Todos ellos han pasado por un proceso de socialización en los albergues, lo que garantiza su recuperación.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver más detalles &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://nuevavida-adopciones.org/wp-content/uploads/2019/06/paquin1-adoptar-perro-madrid-protectora-nuevavida-Gestión-Adopciones-NUEVAVIDA-Adopciones-ETH-300x300.jpg" width="140" height="140">
            <h2>Son nobles</h2>
            <p>Una mascota agradecerá siempre poder compartir su vida a tu lado. Será un amigo fiel que te acompañará y alegrará tus días.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver más detalles &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
